obj
bin
*.suo
packages
**/.idea
.vs
/Competitions/Pudge/PudgeUnityBundleBuilder/[Ll]ibrary/
/Competitions/Pudge/PudgeUnityBundleBuilder/[Tt]emp/

/Competitions/Homm/HommUnityBundleBuilder/[Ll]ibrary/
/Competitions/Homm/HommUnityBundleBuilder/[Tt]emp/

/uCVARC/[Ll]ibrary/
/uCVARC/[Tt]emp/
/uCVARC/GameLogs/
/uCVARC/log.txt
/uCVARC/uCVARC.csproj
/uCVARC/uCVARC.sln
/uCVARC/Assets/CVARC/
/uCVARC/Dlc/Assemblies/
/uCVARC/Dlc/Bundles/

uCVARC/settings.json
version
/binaries/
ucvarc*.zip
/Release/
