@model CvarcWeb.Controllers.AccountController

@{
    ViewData["Title"] = "IndexView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin page</h2>

<form asp-action="ITPlanetRegistrationFromCSV" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>it-planet regs</h4>
        <hr />
        <input type="file" name="RegInfo" id="solution-picker" class="btn btn-default" />
        <input type="submit" value="Reg!" class="btn btn-default" />
    </div>
</form>
