@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @*<link rel="stylesheet" href="~/dist/css/tournaments.css" />*@
}

@section unity
{
    <script type="text/javascript">
        var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
        if (document.location.protocol === 'https:')
            unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
        document.write('<script type="text/javascript" src="' + unityObjectUrl + '"></script>');
    </script>
}

<div id="unityPlayer"></div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/dist/js/logs.js")"></script>
}