@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="~/dist/css/tournaments.css" />
}

<h3>Tournaments</h3>
<input type="text" id="team-selector" class="team-selector" placeholder="Search for team (start typing)"/>
<div id="tournaments"></div>
@section scripts
{
    <script src="@Url.Content("~/lib/jquery/dist/typeahead.bundle.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/dist/js/tournaments.js")"></script>
}